<h1>Demo of various Pipes</h1>

<!-- camelCaseToWords  -->
<h3>Demo1: camelCaseToWords pipe</h3>
<p>
  It converts a string in camel case to string of words separated by spaces.
</p>
<div>original string => {{ camelCaseString }}</div>
<div>string after pipe => {{ camelCaseString | camelCaseToWords }}</div>

<!-- replaceCharacter -->
<h3>Demo2: replaceCharacter pipe</h3>
<p>
  It is used to replace a character with any other character.
</p>
<ul>
  <li>@param (string) value</li>
  <li>
    @param (string) [toReplace='_'] the character to be replaced // default
    replaces '_' (underscore)
  </li>
  <li>
    @param (string) [replaceWith=' '] the character to be replaced with //
    by-default it is replaced with blank space
  </li>
</ul>

<div>original string => {{ replaceCharString }}</div>
<div>
  string after pipe (replaceCharString | replaceCharacter) =>
  {{ replaceCharString | replaceCharacter }}
</div>
<div>
  string after pipe (replaceCharString | replaceCharacter: "_":"~*~") =>
  {{ replaceCharString | replaceCharacter: "_":"~*~" }}
</div>

<!-- currencySymbol  -->
<h3>Demo3: currencySymbol pipe</h3>
<p>
  It gives the currency symbol for the given currency code like ₹ for INR and $
  for USD.
</p>
<div>'INR' | currencySymbol => {{ "INR" | currencySymbol }}</div>
<div>'USD' | currencySymbol => {{ "USD" | currencySymbol }}</div>
<div>'BRL' | currencySymbol => {{ "BRL" | currencySymbol }}</div>

<!-- lodashGet  -->
<h3>Demo4: lodashGet pipe</h3>
<p>
  This is a wrapper over <b>lodash get()</b> method. Gets the value at path of
  object. If the resolved value is undefined, the defaultValue is returned in
  its place. To read official docs of click <a
    href="https://lodash.com/docs/4.17.15#get"
    target="_blank"
  >
    lodash.get
  </a>
</p>
<ul>
  <li>object (Object): The object to query.</li>
  <li>path (Array|string): The path of the property to get.</li>
  <li>[defaultValue] (*): The value returned for undefined resolved values.</li>
</ul>
<div>
  original object (<b>lodashGetObject</b>) => {{ lodashGetObject | json }}
</div>
<div>
  lodashGetObject | lodashGet: "a[0].b.c" =>
  {{ lodashGetObject | lodashGet: "a[0].b.c" }}
</div>
<div>
  lodashGetObject | lodashGet: ['a', '0', 'b', 'c'] =>
  {{ lodashGetObject | lodashGet: ["a", "0", "b", "c"] }}
</div>
<div>
  lodashGetObject | lodashGet: "a.b.c":"default" =>
  {{ lodashGetObject | lodashGet: "a.b.c":"default" }}
</div>
